.contact {
    height: 100vh;
    background-color: #e5ecfb;
    padding: 2rem 12%;
}

.contact h1 i {
    position: relative;
    right: 0.5rem;
}

.contact h1 {
    text-align: center;
    position: relative;
    top: 2rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    word-spacing: 0.5rem;
}

.contact h1 span {
    color: #ef0eef;
}

.contact .contact-container {
    display: flex;
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 1.5rem;
    margin: 2rem 0;
    height: 30rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-container .img {
    background: url('../../Assets/contact1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 22rem;
    width: 20rem;
    /* margin-left: 5rem; */
}

form {
    width: 45%;
    margin-right: 3.5rem;
}


form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group .field {
    height: 50px;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
}

form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: rgb(51, 51, 51);
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input,
form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
    color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
    padding-left: 47px;
    border: 2px solid rgb(115, 3, 167);
}

.field input:focus~i,
.message textarea:focus~i {
    color: rgb(115, 3, 167);
}

form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
}

form .message i {
    top: 25px;
    font-size: 20px;
    left: 15px;
}

form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
    width: 0px;
}

form .button-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
}

.button-area button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 15px;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    transition: 0.3s ease;
    font-family: "Nunito", sans-serif;
}

.button-area button:hover {
    background: #421cecf5;
}

.button-area span {
    font-size: 17px;
    padding: 1rem;
    display: none;
}

.button-area button i {
    position: relative;
    top: 12px;
    left: 2px;
    font-size: 1.5rem;
    transition: 0.3s;
    color: #fff;
}

.button-area button:hover i {
    left: 8px;
}


@media (max-width:789px) {
    .contact {
        padding: 0rem 12%;
    }

    .contact h1 {
        top: 0rem;
    }

    .container1 {
        display: none;
    }

    #contact-form {
        width: 100%;
        margin-right: 2rem;
    }

    form .button-area {
        width: 93%;
    }

    .button-area button {
        width: 100%;
    }
}

@media (max-width:426px) {
    .contact {
        height: 90vh;
    }

    .contact h1 {
        font-size: 2rem;
        padding: 0rem;
    }

    .contact .contact-container {
        margin: 1rem 0rem;
    }
}

@media (max-width:350px) {
    .contact h1 {
        font-size: 1.8rem;
    }
}