.contact {
    height: 100vh;
    background-color: #e5ecfb;
}

.contact h1 i {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
}

.contact h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5rem;
    font-size: 2.4rem;
    word-spacing: 0.5rem;
}

.contact h1 span {
    margin-left: 0.8rem;
    color: #ef0eef;
}

