.about {
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 4rem 9%;
}

.about h1 i {
    font-size: 1.7rem;
    position: relative;
    bottom: 0.2rem;
}

.about h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 2.4rem;
}

.about h1 span {
    margin-left: 0.3rem;
    color: rgba(193, 1, 193, 0.895);
}

.about-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.my-image {
    margin: 1rem 10rem;
}

.my-image img {
    height: 26rem;
    border-radius: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.my-image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: translateX(10px);
}

.about .bio {
    margin: 2rem 3rem;
}

.about .bio h3 {
    font-size: 1.5rem;
}

.about .bio span {
    margin: 0.5rem 0rem 2rem;
    font-weight: 600;
}

.about .bio p {
    font-size: 1rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
}

.bio .contect-details {
    margin-top: 2rem;
}

.bio .contect-details p {
    margin-top: 0.5rem;
}

.bio .contect-details p span {
    color: #011aff;
}


@media (max-width:789px) {
    .about {
        height: 150vh;
        padding: 0rem 9%;
    }

    .about-container {
        flex-direction: column;
    }

    .my-image {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .my-image img:hover {
        transform: translateX(1px);
    }
}

@media (max-width:565px) {

    .about .bio {
        margin: 1rem 3rem;
    }
}

@media (max-width:520px) {
    .about {
        height: 155vh;
    }
}

@media (max-width:482px) {
    .about {
        height: 145vh;
    }

    .about h1 {
        padding: 0;
        font-size: 2rem;
    }

    .my-image {
        margin: 1rem 0rem;
    }

    .about .bio {
        margin: 0rem;
    }

    .about .bio p {
        margin-top: 0.8rem;
    }

    .bio .contect-details {
        margin-top: 0.8rem;
    }
}

@media (max-width:370px) {

    .about {
        height: 142vh;
    }

    .about .bio p {
        margin-top: 0.4rem;
    }
}

@media (max-width:340px) {
    .about {
        height: 145vh;
    }

    .about .bio {
        margin: 0rem;
    }
}

@media (max-width:325px) {
    .about {
        height: 59rem;
    }
}

